<?xml version="1.0"?>
<configuration>
  <log4net debug="true">
    <root>
      <level value="ALL" />
      <appender-ref ref="AppenderAppPoc" />
    </root>
    <appender name="AppenderAppPoc" type="log4net.Appender.RollingFileAppender">

          
      <bufferSize value="50" />
      <file value="D:\WEB\SISACT_CONSUMER\log\" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <encoding value="utf-8"/>
      <appendToFile value="true"/>  
      <rollingStyle value="Date"/>
     
      <DatePattern value="yyyy-MM-dd\\yyyy-MM-dd_HH'-SISACT_CONSUMER.lo\g'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
      
        <conversionPattern value="%message" />
      </layout>
      <parameter>
        <parameterName value="@Usuario" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Usuario}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Identificador" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Identificador}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ApplicationName" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ApplicationName}" />
        </layout>
      </parameter>
    </appender>
  </log4net>
</configuration>
