<?xml version="1.0" encoding="utf-8" ?> 
<SisActConfig>
	<TipoDocumentoDNI>01</TipoDocumentoDNI>
	<TipoDocumentoRUC>06</TipoDocumentoRUC>
	<TipoDocumentoCIP>02</TipoDocumentoCIP>
	<TipoDocumentoCEX>04</TipoDocumentoCEX>
	<TipoDocumentoPAS>07</TipoDocumentoPAS>
	<TipoDocumentoCFA>02</TipoDocumentoCFA>

	<LenTipoDocumentoDNI>8</LenTipoDocumentoDNI>
	<LenTipoDocumentoRUC>11</LenTipoDocumentoRUC>
	<LenTipoDocumentoCIP>10</LenTipoDocumentoCIP>
	<LenTipoDocumentoCEX>9</LenTipoDocumentoCEX>
	<LenTipoDocumentoPAS>10</LenTipoDocumentoPAS>
	<LenTipoDocumentoCFA>10</LenTipoDocumentoCFA>
	
	<MensajeNoAutorizado>No tiene autorización para disminuir en la cantidad de DG, por favor comuniquese con su supervisor.</MensajeNoAutorizado>
	

	<TipoRiesgoIdPrueba>2</TipoRiesgoIdPrueba>
	<TipoRiesgoDesPrueba>Medio</TipoRiesgoDesPrueba>	
	<DeudaFinancieraPrueba>10000</DeudaFinancieraPrueba>
	<EstadoRUCPrueba>1</EstadoRUCPrueba>
	<LoggingEnabled>1</LoggingEnabled>
</SisActConfig>