<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Claro.SISACT.WS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Claro.SISACT.WS.Properties.Settings>
            <setting name="Claro_SISACT_WS_AuditoriaWS_EbsAuditoriaService"
                serializeAs="String">
                <value>http://172.19.73.62:8909/AuditoriaWS/EbsAuditoria</value>
            </setting>
            <setting name="Claro_SISACT_WS_WSLogin_EbsDatosEmpleadoService"
                serializeAs="String">
                <value>http://172.19.74.66:8909/DatosEmpleadoWS/EbsDatosEmpleado</value>
            </setting>
            <setting name="Claro_SISACT_WS_WSOAC_ConsultaDeudaCuenta" serializeAs="String">
                <value>http://limdesosbv05.tim.com.pe:8909/OAC_Services/Inquiry/ConsultaDeudaCuenta</value>
            </setting>
            <setting name="Claro_SISACT_WS_WSLineasDesactivas_ebsConsultaLineasDesactivasWS"
                serializeAs="String">
                <value>http://172.19.74.68:8909/ConsultaLineasWS/ebsConsultaLineasDesactivasSB11</value>
            </setting>
            <setting name="Claro_SISACT_WS_WSBuroCrediticio_ebsBuroCrediticioService"
                serializeAs="String">
                <value>http://limdesosbv05.tim.com.pe:8909/BuroCrediticioApp/ebsBuroCrediticioSB11</value>
            </setting>
            <setting name="Claro_SISACT_WS_WSPortabilidad_EbsValidacionService"
                serializeAs="String">
                <value>http://172.19.74.68:8909/ValidacionWS/EbsValidacion</value>
            </setting>
            <setting name="Claro_SISACT_WS_WSOperador_EbsIdentificaOperadorService"
                serializeAs="String">
                <value>http://limdeseaiv22.tim.com.pe:8909/IdentificaOperadorWS/EbsIdentificaOperador</value>
            </setting>
            <setting name="Claro_SISACT_WS_WSMetricaEvaluacion_RegistroMetricasVentasWSService"
                serializeAs="String">
                <value>http://limcltocsv02.tim.com.pe:8909/RegistroMetricaVentaWS/RegistroMetricasVentasPortSB12</value>
            </setting>
            <setting name="Claro_SISACT_WS_WSReglasCrediticia_ClaroEvalClientesReglasDecisionService"
                serializeAs="String">
                <value>http://172.19.52.82:9081/DecisionService/ws/ClaroEvalClienteApp/ClaroEvalClientesReglas/v75</value>
            </setting>
            <setting name="Claro_SISACT_WS_ConsultarPuntosWS_ebsConsultaPuntosClaroClubService"
                serializeAs="String">
                <value>http://limdeseaiv15.tim.com.pe:8901/ClaroClub_Services/Inquiry/ConsultaPuntos</value>
            </setting>
            <setting name="Claro_SISACT_WS_WSPuntosClaroClub_ebsGestionarPuntosService"
                serializeAs="String">
                <value>http://172.19.74.94:8909/ClaroClub_Services/Transaction/PuntosClaroClub</value>
                <value>http://172.19.74.232/DecisionService/ws/ClaroEvalClienteApp/ClaroEvalClientesReglas/v75</value>
            </setting>
        </Claro.SISACT.WS.Properties.Settings>
    </applicationSettings>
</configuration>