<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Claro.SISACT.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Claro.SISACT.Business.Properties.Settings>
            <setting name="Claro_SISACT_Business_WSConsultaClave_ebsConsultaClavesService"
                serializeAs="String">
                <value>http://limdeseaiv30.tim.com.pe:8909/ConsultaClavesWS/ebsConsultaClavesSB11</value>
            </setting>
        </Claro.SISACT.Business.Properties.Settings>
    </applicationSettings>
</configuration>